@use '../../../../styles/vars' as *;

.OurPortfolio {
  margin: $gap-xl 0;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      padding-bottom: $gap-large;
      border-bottom: 1px solid $primary-accent;
      margin-bottom: $gap-large;
      .title_container {
        display: flex;
        flex-direction: column;
        gap: $gap-regular;

        margin-bottom: $gap-medium;
      }
      h2,
      h1,
      p {
        text-align: left;
      }
      .description {
      }
      @media (min-width: 800px) {
        display: flex;
        border: none;
        gap: $gap-large;
        align-items: center;
        .title_container {
          border-right: 1px solid $primary-accent;
          padding: 0;
          margin: 0;
          padding-right: $gap-large;
          min-width: 50%;
        }
      }
    }

    .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap-large;
      margin-bottom: $gap-xl;
      .project {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-shadow: $box-shadow-card;
        border-radius: $border-radius;
        background: $white;
        overflow: hidden;
        .image {
          img {
            aspect-ratio: 1;
            object-fit: cover;
          }
        }
        .title_container {
          position: absolute;
          bottom: 0;
          z-index: 5;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: $gap-regular;
          padding-top: $gap-xl;
          padding-bottom: $gap-regular;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0)
          );
          color: $white;

          h2 {
            font-size: $fs-regular;
            color: $white;
          }
          a {
            font-size: $fs-small;
            color: $primary-accent;
            font-weight: 500;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
