@use '../../../../styles/vars' as *;

.AboutUs {
  background: $primary-accent;
  color: $white;
  padding: $gap-xl 0;

  .content {
    .image {
      display: none;
    }
    .about_us_text {
      display: flex;
      flex-direction: column;
      gap: $gap-medium;
      margin-bottom: $gap-xl;
    }
    h1 {
      color: $secondary-background;
    }
    h1,
    h2,
    p {
      text-align: left;
    }
    p {
      color: $white;
      font-weight: 400;
    }
    .why_choose_us_text {
      margin-bottom: $gap-large;
    }
    .values {
      padding-top: $gap-medium;
      display: flex;
      flex-direction: column;
      gap: $gap-regular;
      .item {
        display: flex;
        gap: $gap-regular;

        h2 {
          font-size: $fs-medium;
          margin-bottom: $gap-tiny;
        }
        p {
          font-size: $fs-small;
          font-weight: 400;
          color: $secondary-background;
        }
      }
    }
  }
}
