@use '../../../../styles/vars' as *;

.ProjectImages {
  margin: $gap-xl 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    p {
      text-align: center;
    }
    h1 {
      margin-bottom: $gap-large;
    }

    .images_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap-medium;
      width: 100%;
      margin-top: $gap-medium;
      .right_row,
      .left_row {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
        max-width: 400px;
      }
    }
  }
}
