@use '../../../styles/vars' as *;

.Testimonials {
  margin-bottom: $gap-large;
  .content {
    width: 100%;
    .top {
      margin-top: $gap-large;

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: $gap-medium;
      .subtitle {
        font-size: $fs-small;
        color: $primary-accent;
        border: 2px solid $primary-accent;
        padding: $gap-tiny $gap-regular;
        border-radius: 8px;
        font-weight: 600;
      }
    }
    .testimonials_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap-large;
      margin: $gap-xl 0;
    }
  }
  @media (min-width: 1200px) {
    .content {
      .testimonials_list {
        justify-content: space-between;
        // gap: 0;
        width: 100%;
      }
    }
  }
}

.SingleTestimonial {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  .quote_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid $secondary-background;
    border-radius: 50%;
    color: $primary-accent;
  }
  p {
    text-align: left;
    font-size: $fs-xs;
    line-height: 1.6;
  }
  p.text {
    min-height: 160px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-color;
    padding-top: $gap-medium;
    p.name {
      font-weight: 600;
      font-size: $fs-medium;
    }
    .rating {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      .star {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}
