@use '../../../styles/vars' as *;

.button_link {
  min-width: 140px;
  width: fit-content !important;
  padding: 0 $gap-small;
  height: 40px;
  white-space: nowrap;
  font-size: $fs-small;

  font-weight: 700;
  border-radius: $border-radius-button;

  &.primary {
    background: $primary-accent;
    color: $primary-background;
  }
  &.secondary {
    background: $primary-text;
    color: $primary-background;
  }
  &.tertiary {
    background: $secondary-accent;
    color: $primary-background;
  }
  &.white {
    background: $primary-background;
    color: $primary-text;
  }
  &.large {
    width: 160px;
  }

  &.full_width {
    width: 100%;
  }
}
