@use '../../../../styles/vars' as *;

.hero {
  height: 100%;
  position: relative;
  padding-top: $gap-xl;
  overflow: hidden;
  padding-bottom: $gap-2xl;
  margin: 0;
  border-bottom: 2px solid $primary-accent;
  height: fit-content;

  .content {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
    .title_text {
      display: flex;
      flex-direction: column;
      gap: $gap-regular;
    }
    .image {
      position: relative;
      border-radius: $border-radius;
      overflow: hidden;
      max-width: 900px;
      width: 100%;
      aspect-ratio: 3/2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .bottom_text {
      display: flex;
      flex-direction: column;
      gap: $gap-xl;
      align-items: center;
      p {
        text-align: center;
      }
    }
  }
  .background_image {
    position: absolute;
    top: 280px;
    z-index: -1;
    width: 500px;
    height: 700px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media (min-width: 500px) {
    .background_image {
      width: 1000px;
      height: 1000px;
    }
  }

  @media (min-width: 1000px) {
    .content {
      display: flex;
      width: 50%;
      margin-right: auto;
      justify-content: center;
      height: 475px;

      .title_text {
        margin-bottom: $gap-large;
        gap: $gap-large;
      }

      h1,
      h2,
      p {
        text-align: left !important;
      }

      .image {
        position: absolute;
        right: 0;
        width: 45%;
      }
      .bottom_text {
        align-items: flex-start;
      }
    }
    .background_image {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        object-fit: fill;
      }
    }
  }
  @media (min-width: 1200px) {
    padding-top: $gap-2xl;
    .content {
      .image {
        right: 50px;
      }
    }
  }
}
