@use '../../../../styles/vars' as *;

.WhyChooseUs {
  background: $primary-accent;
  padding: $gap-xl 0;

  .content {
    h1 {
      margin-bottom: $gap-large;
    }
    .values {
      display: flex;
      flex-direction: column;
      border-radius: $border-radius;
      overflow: hidden;
      background: $border-color !important;
      gap: 1px;
      .value {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
        padding: $gap-medium;
        max-width: 350px;
        background: $white;

        &:last-of-type {
          border-bottom: none;
        }

        .icon_container {
          display: flex;
          justify-content: center;

          align-items: center;
          height: 45px;
          width: 45px;
          background: $primary-accent;
          border-radius: 50%;
          color: $white;
        }
        h2 {
          font-size: $fs-medium;
          font-weight: 500;
        }
        p {
          color: $secondary-text;
          font-size: $fs-small;
        }
      }
    }
    @media (min-width: 800px) {
      .values {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (min-width: 1100px) {
      .values {
        grid-template-columns: repeat(3, 1fr);

        .value {
          border: 0;
          background: $white;
        }
      }
    }
  }
}
